@font-face {
  font-family: 'MuseoSansRegular';
  src: url('../fonts/MuseoSans_300-webfont.eot');
  src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
  url('../fonts/MuseoSans_300-webfont.ttf') format('truetype'),
  url('../fonts/MuseoSans_300-webfont.svg#MuseoSans300Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}