.node.open circle {
  stroke: white;
  stroke-width: 2px;
}

.leaflet-overlay-pane path {
  z-index: 1;
}

.leaflet-overlay-pane .open {
  stroke: white;
  stroke-width: 2px;
  z-index: 2;
}

.leaflet-overlay-pane .closed {
  stroke: none;
  z-index: 2;
}

#legend {
  position: absolute;
  background: #333333;
  color: white;
  top:0;
  right:0;
}
