.node.open circle {
  stroke: white;
  stroke-width: 2px;
}

.leaflet-overlay-pane path {
  z-index: 1;
}

.leaflet-overlay-pane .open {
  stroke: white;
  stroke-width: 2px;
}

.leaflet-overlay-pane .closed {
  stroke: none;
}

/* from leaflet label */
.leaflet-label {
  display: block;
  padding: 1px 6px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 6;
}

.leaflet-label.leaflet-clickable {
  cursor: pointer;
}
/* end of leaflet */
