html,
body {
  font-family: $main-font-stack;
  background-color: $background;
  background-image: url('../img/bg.png');
  min-height: 100%;
  height: 100%;
}

#full-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

nav#side-navigation {
  width: 8%;
  max-width: 120px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: $dark-background;
  padding-top: 10%;
  text-align: center;
  span {
    color: $highlight-colour;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
  }
  a {
    display: block;
    color: $primary-colour;
    text-decoration: none;
    margin-top: 5px;
    padding: 25px 0;
    width: 100%;
    font-size: 13px;
    &:hover, &.active {
      background-image: url('../img/bg.png');
    }
    img {
      width: 50%;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
    }
  }
}

section#controls {
  clear: both;
  padding: 20px 0;
  height: 15%;
  overflow: hidden;
  .control {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
    .title {
      background: $dark-background;
      padding: 20px 2%;
      float: left;
      width: 10%;
      font-family: 'MuseoSansRegular';
      span {
        color: $highlight-colour;
      }
    }
    .input {
      float: right;
      width: 82%;
      padding: 20px 2%;
      background: rgba(0, 0, 0, 0.1);
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          float: left;
          margin-right: 20px;
          a {
            color: $primary-colour;
            text-decoration: none;
            font-size: 14px;
            &:hover, &.active {
              color: $highlight-colour;
            }
          }
        }
      }
    }
  }
}

section#main-content {
  margin: 20px  0 0 10%;
  width: 74%;
  position: absolute;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  h1#logo {
    height: 6%;
  }
  > div.ng-scope {
    height: 94%;
  }
  hr {
    margin: 10px 0;
    clear: both;
    color: #000;
    border-color: #000;
    border-bottom: none;
  }

  header {
    padding: 10px 0;
    height: 7%;
    img {
      float: left;
      border: 1px solid #1e1e1e;
      margin-right: 20px;
    }
    h1 {
      color: $primary-colour;
      font-size: 36px;
      margin-bottom: 5px;
      padding-top: 10px;
      font-family: 'MuseoSansRegular';
    }
    h3 {
      color: $primary-colour;
      font-family: 'MuseoSansRegular';
    }
  }
}

section#data-area {
  background: #292828;
  width: 98%;
  padding: 10px 1%;
  min-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 65%;
  .chart {
    width: 70%;
    float: left;
  }
  .data-list {
    width: 28%;
    height: 100%;
    float: right;
  }
  h3 {
    color: $primary-colour;
    font-size: 16px;
    margin: 10px 0;
  }
}

.svg {
  width: 100%;
  height: 80%;
  svg {
    height: 100% !important;
  }
  .node {
    fill: #fff;
  }
  .link {
    fill: none;
    //stroke: #fff;
  }
}

#map {
  width: 100%;
  height: 600px;
}

.companies {
  height: 90%;


  input.company-search {
    width: 91%;
    height: 7%;
    margin: 5% 2%;
    padding: 0 2%;
    background: #1f1e1e;
    color: #f26262;
    border: 1px solid #f26262;
    font-size: 17px;
  }

  .scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
  }

  .company {
    background: #292828;
    border-bottom: 2px solid #343434;
    width: 100%;
    .title {
      padding: 10px 0 10px 10px;
      a {
        text-decoration: none;
        color: #fff;
        span {
          margin-right: 10px;
        }
        h4 {
          display: inline;
          font-size: 13px;
        }
      }
    }
    .content {
      display: none;
      padding: 10px 0 0 0;
      table {
        width: 100%;
        tr:nth-child(even) {
          background: #3c3939;
        }
        td {
          padding: 10px 5px 10px 10px;
          color: #eeeeee;
          font-size: 13px;
          &:first-child {
            font-size: 13px;
          }
        }
      }
    }
    &.open {
      background: #363333;
      .content {
        display: block;
      }
    }
  }
}