<section id="narrative" ng-if="displayNarrative()">
    <article class="cassandra">
        <h2>{{getCassandra().heading}}</h2>
        <h3>{{getCassandra().subheading}}</h3>
        <p ng-bind-html="getCassandra().description"></p>
        <p class="read-more"><a href="" ng-click="showPanel = true">read more...</a></p>
        <p><img src="/assets/img/cassandra.png" class="cassandra-logo" alt="Cassandra.com"></p>
    </article>
    <article class="panelhtml"ng-show="showPanel">
        <div ng-bind-html="getCassandra().panelhtml"></div>
        <p class="read-more"><a href="" ng-click="showPanel = false">close</a></p>
    </article>
</section>