<div class="companies" ng-if="displayDatalist()">

    <input type="text" ng-model="formInput.company" class="company-search" placeholder="Search...">

    <div class="scrollable" id="company-scrollable">
        <div class="company {{company.class}}" ng-repeat="company in getCompanies()" id="{{company.hiddenProperties.guid}}">
            <div class="title">
                <a href="" ng-click="toggleCompanyById(company.hiddenProperties.guid)">
                    <span ng-if="company.class == 'closed'">+</span>
                    <span ng-if="company.class == 'open'">-</span>
                    <h4>{{company.name}}</h4></a>
            </div>
            <div class="content">
                {{company.image1}}
                <table class="company-data">
                    <tr ng-repeat="property in company.properties">
                        <td>{{property.name}}</td>
                        <td>=</td>
                        <td>{{property.value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>