<!DOCTYPE html>

<html lang="en" class="no-js" ng-app="DataVisualisationApp" ng-controller="MainCtrl">

<head>
    <meta charset="utf-8" />
    <title ng-bind="getPageTitle()">Judge Business School</title>

    <!-- Web design & development by Studio 24 - www.studio24.net -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="apple-touch-icon" href="assets/imgq/apple-touch-icon.png" />

    <!-- META -->
    <meta name="author" content="Studio 24">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" value="[DESCRIPTION]">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/js/vendor/leaflet-0.7.2/leaflet.css">
    <link rel="stylesheet" href="assets/js/vendor/leaflet.markercluster/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="assets/css/main.css?v=1.0">

    <!-- see http://www.paulirish.com/2009/avoiding-the-fouc-v3/ -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <!-- JS which need to be initially loaded -->
    <script src="assets/js/vendor/angular/angular.min.js"></script>
    <script src="assets/js/vendor/angular-route/angular-route.min.js"></script>
    <script src="assets/js/vendor/angular-sanitize/angular-sanitize.js"></script>
</head>

<body ng-class="bodyClass" class="loading">
    <div class="overlay">
    </div>
    <div id="full-wrapper">
        <nav id="side-navigation">
            <a ng-href="#/{{currentScenario}}/network/{{currentStage}}/{{currentVariant}}" class="{{getSelectedNav('network')}}" ng-if="displayNetwork()">
                <img src="assets/img/network.svg">Network
            </a>
            <div class="inactive" ng-hide="displayNetwork()">
                <img src="assets/img/network.svg">Network
            </div>
            <a ng-href="#/{{currentScenario}}/map/{{currentStage}}/{{currentVariant}}" class="{{getSelectedNav('map')}}" ng-if="displayMap()">
                <img src="assets/img/map.svg">World Map
            </a>
            <div class="inactive" ng-hide="displayMap()">
                <img src="assets/img/map.svg">World Map
            </div>
            <a ng-href="#/{{currentScenario}}/charts/{{currentStage}}/{{currentVariant}}" class="{{getSelectedNav('charts')}}" ng-if="displayChart()">
                <img src="assets/img/chart.svg">Charts
            </a>
            <div class="inactive" ng-hide="displayChart()">
                <img src="assets/img/chart.svg">Charts
            </div>
        </nav>

        <section id="main-content">
            <a class="helplink" ng-href="{{ helplink.url }}" ng-bind="helplink.title"></a>
            <h1 id="logo"><a href="http://www.risk.jbs.cam.ac.uk/"><img src="assets/img/logo.png" alt="University of Cambridge | Judge Business School | Centre for Risk Studies"></a></h1>

            <hr />

            <div ng-view></div>
        </section>

    </div>

    <footer>
        © 2014 Cambridge Centre for Risk Studies, University of Cambridge Judge Business School  <span>|</span>
        The research referenced herein is for informational purposes only and should not be considered as investment advice or a recommendation of any particular security, strategy or investment product  <span>|</span>
        <a href="http://cambridgeriskframework.com/page/30">Additional Provisions</a>
    </footer>

    <!-- JS which can be loaded after page load -->
    <script src="assets/js/vendor/d3/d3.min.js"></script>
    <script src="assets/js/vendor/leaflet-0.7.2/leaflet.js"></script>
    <script src="assets/js/vendor/Leaflet.label/dist/leaflet.label.js"></script>
    <script src="assets/js/vendor/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script src="assets/js/s24/s24.min.js"></script>
    <script src="assets/js/lib.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/charts/controllers.min.js"></script>
    <script src="assets/js/map/controllers.min.js"></script>
    <script src="assets/js/network/controllers.min.js"></script>
    <script src="assets/js/directives.min.js"></script>
</body>

</html>
