<header>
    <a href="#/{{currentScenario}}/"><img ng-src="{{getIcon()}}" alt="{{getTitle()}}"></a>
    <h1><a href="#/{{currentScenario}}/">{{getTitle()}}</a></h1>
    <h3>{{getSubtitle()}}</h3>
</header>

<section id="controls">
    <stage></stage>
    <variant></variant>
</section>

<cassandra></cassandra>

<section id="data-area">
    <div class="chart">
        <div class="legend-wrapper">
            <button class="legend-button" ng-click="showLegend = !showLegend">Show legend</button>
            <graphlegend data="nodeLegend" ng-if="nodeLegend" ng-show="showLegend"></graphlegend>
        </div>
        <div id="map"></div>
    </div>
    <div class="not-available" ng-if="displayMap() == false">
        Sorry, map is not available in this data view
    </div>
    <div class="data-list">
        <companies></companies>
    </div>
</section>
