<header>
    <a href="#/sybil-logic-bomb/"><img ng-src="{{getIcon()}}" alt="{{getTitle()}}"></a>
    <h1><a href="#/sybil-logic-bomb/">{{getTitle()}}</a></h1>
    <h3>{{getSubtitle()}}</h3>
</header>

<section id="controls">
    <stage></stage>
    <variant></variant>
</section>

<section id="data-area">
    <div class="chart">
        <div id="map"></div>
    </div>
    <div class="not-available" ng-if="displayMap() == false">
        Sorry, map is not available in this data view
    </div>
    <div class="data-list">
        <companies></companies>
    </div>
</section>

<cassandra></cassandra>

<section ng-if="nodeLegend" style="position:absolute;background:green;top:0;right:0">
    <graphlegend data="nodeLegend"></graphlegend>
</section>
