<header>
    <a href="#/{{currentScenario}}/"><img ng-src="{{getIcon()}}" alt="{{getTitle()}}"></a>
    <h1><a href="#/{{currentScenario}}/">{{getTitle()}}</a></h1>
    <h3>{{getSubtitle()}}</h3>
</header>

<section id="controls">
    <stage></stage>
    <variant></variant>
</section>

<section id="data-area">
    <div class="chart">
        <button ng-click="showLegend = !showLegend">Show legend</button>

        <div class="svg force-directed"></div>

    </div>

    <div class="data-list">
        <companies></companies>
    </div>
</section>
<cassandra></cassandra>

<graphlegend data="nodeLegend" ng-if="nodeLegend" ng-show="showLegend"></graphlegend>
